@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background: linear-gradient(90deg, #f3e9f1, #b0bec9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 180px;
    margin: 0;
}

.fondosesion{
    background-color: rgb(218, 222, 226);
    padding: 50px 0 50px 0;
}

.cent-v-h{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cent-v{
    display:flex;
    align-items: center;
}

#pie{
    background: linear-gradient(90deg, #9e8c8c, #878793);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 70px;
    margin: 0;
}

.disflex{
    display: flex;
    align-items: center;
}

.pie-der{
    margin-left: auto;
}

.pie-der p{
    margin-bottom: 0;
}

.cajasesion{
    width: 500px;
    border-radius: 10px;
    border: solid #dee2e685;
    border-width: 1px;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
}

.plog{
    font-size: 25px;
}

.llog{
    font-size: 20px;
}

.btn{
    border-radius: 20px;
    padding: 0 15px 0 15px;
}

.errorsesion{
    color: red;
}

.navbar{
    height: 75px;
    margin: 0 30px 0 30px;
}

.navbar-nav{
    margin-left: auto;
}

#img-prin{
    width: 100%;
    height: 80vh;
    background: url(../img/2.jfif) center center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

#img-prin-tex{
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 4px black;
}

h2{
    color: white;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;

}

.tablafondo{
    background-color: white;
}

.boton{
    background-color: #dc3545 !important;
    border-color: #dc3545;
    color: white !important;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: normal;
    width: 100px;
    height: 50px;
    font-size: 13px;
}

.boton-aprobar{
    background-color: rgb(53, 220, 75) !important;
    border-color: #138f13;
    color: black !important;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: normal;
    width: 100px;
    height: 50px;
}

.tablaover{
    height: 500px;
    overflow: auto;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
}

.color-noaprobado{
    color: white;
}

.color-aprobado{
    color: black;
}

.over-y{
    overflow-y: scroll;
    max-height: 200px;
}